@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* Use CSS reset */
/* https://meyerweb.com/eric/tools/css/reset/ */

html {
  font-family: "DM Sans";
}

:root {
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(30, 100%, 98%);
  --orange: hsl(10, 79%, 65%);
}

body {
  background-color: var(--cream);
  /*  When sizing things horizontally or vertically, it's better */
  /* to apply styles in a top-down fashion. This approach facilitates */
  /* better separation of styling concerns and produces a smaller CSS code footprint */
  min-height: 100vh;
  /* Use the default font-size (e.g. 16px) */
  /* and adapt other properties that use the */
  /* rem/em unit */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance {
  width: 22rem;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  color: var(--cream);
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
}

.balance img {
  width: 3.5rem;
}

.balance p {
  font-size: 0.77rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5em;
}
.spendings {
  width: 22rem;
  height: 20rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--dark-brown);
  background-color: var(--very-pale-orange);
  margin-bottom: 1rem;
  /* Add some margin between article heading and bar chart */
}

.last-days {
  margin: 0.75rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.stats {
  display: flex;
  border-top: 0.12rem solid var(--cream);
  justify-content: space-between;
  padding-top: 1rem;
  margin-top: 1rem;
}

.stats p {
  color: var(--medium-brown);
  font-weight: 400;
  font-size: 0.77rem;
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
}

.monthly-total {
  font-size: 2rem;
  margin-top: 0.2em;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.right {
  align-self: flex-end;
  text-align: right;
}

.attribution {
  padding-block-end: 1.5rem;
  font-size: 0.85rem;
  text-align: center;
}

.attribution,
a {
  color: hsl(228, 45%, 44%);
}
